@{
    ViewData["Title"] = "Home Page";
}
<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn more about Bitcoin and Cryprocurrencies  <a href="https://www.bitcoin.org">here</a>.</p>
</div>
<div class="jumbotron">
    <h1 class="text-center">
        Spend-It
    </h1>


</div>
<div class="index-image">

    <img src="~/Pictures/btc3.jpg" alt="HomeImage" height="500" width="1105">
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Welcome to Spend-It!</h2>




    </div>

    <div class="col-md-4">
        <h2>Build it from scratch</h2>
        <p>Download and Usage Instruction </p>
        <p><a class="btn btn-default" href="https://github.com/Downeastrussell/Spend-It/blob/master/README.md">are found in the README.md, here &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Download it</h2>
        <p>You can download the completed project from GitHub.</p>
        <p><a class="btn btn-default" href="https://github.com/Downeastrussell/Spend-It">See project source code &raquo;</a></p>
    </div>
    
</div>

