@{
    ViewData["Title"] = "Non-Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>"This application was built as a back-end capstone project for NewForce Coding Academy. Use at your own risk, built by a novice" -Russell Miller CEO & Novice, Spend-It Corp &copy;2019. </p>
